body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons .item {
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button{
  display: block;
}

.buttons .expired {
  color: red;
}

.buttons .hidden {
  display: none;
}

.buttons p {
  margin: 0;
  padding: 0;
}